MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/waperdb?retryWrites=true&w=majority&appName=cluster
MONGODB_DB_NAME=WaperDB
PORT=3001
CLIENT_ORIGIN=http://localhost:5173
VITE_API_BASE_URL=http://localhost:3001/api
